.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.main-container {
  height: 100vh;    
  display: flex;    
  align-items: center;    
  justify-content: center;
}

.form-container {
  border-radius: 15px;
  padding: 20px;
  width: 350px;
  height: 250px;
  background-color: #CDCCCC;
}

.form-button {
  text-align: center;
}

.short-url-div {
  display: flex;
}

.red {
  background-color: #F55A1C !important;
  border-color: #F55A1C !important
}